.product {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}

@media (min-width: 600px) {
  .product {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media (min-width: 960px) {
  .product {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
}
